@{ViewData["Title"] = "Waste Models - Container Type";}
<h3>@ViewData["Title"]</h3>
<p>
    An abstract type that represents a type of container.
</p>

<p>
    This is the base definition of a type of container and is instanced as a <a href="/models/Waste/FeatureType">Feature Type</a>.
</p>

<div class="row">
    <div class="col-12">
        <div class="datamodel">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property</th>
                        <th>Type</th>                            
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            reusable
                        </td>
                        <td>
                            <a href="https://schema.org/Boolean">Boolean</a>
                        </td>
                        <td>
                            A true/false indicating whether this container can be reused.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            disposable
                        </td>
                        <td>
                            <a href="https://schema.org/Boolean">Boolean</a>
                        </td>
                        <td>
                            A true/false indicating whether this container is disposable or one-time use (e.g. a bag).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            color
                        </td>
                        <td>
                            <a href="https://schema.org/color">color</a>
                        </td>
                        <td>
                            The color of the container.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            lid_color
                        </td>
                        <td>
                            <a href="https://schema.org/color">color</a>
                        </td>
                        <td>
                            The color of the lid which may differ from the body.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            sizes
                        </td>
                        <td>
                            Array of <a href="https://schema.org/Integer">Integer</a>
                        </td>
                        <td>
                            The available sizes of containers of this type.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            shape
                        </td>
                        <td>
                            <a href="https://schema.org/Text">Text</a>
                        </td>
                        <td>
                            The shape or type of the container.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            materials
                        </td>
                        <td>
                            Array of <a href="https://appstreams.org/Models/Waste/Material">Material</a>
                        </td>
                        <td>
                            The materials it stores.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Schema</h3>
<pre>
@Html.Raw(ViewBag.Json)
</pre>

<h3>Example</h3>
<pre>
@Html.Raw(ViewBag.JsonSample)
</pre>