@{ViewData["Title"] = "Waste Models - Service";}
<h3>@ViewData["Title"]</h3>
<p>
    This represents Waste collection services and data.
</p>

<div class="row">
    <div class="col-12">
        <div class="datamodel">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property</th>
                        <th>Type</th>                            
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            id
                        </td>
                        <td>
                            <a href="https://schema.org/Text">string</a>
                        </td>
                        <td>
                            A uuid identifier to this particular instance of the service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            name
                        </td>
                        <td>
                            <a href="https://schema.org/Text">string</a>
                        </td>
                        <td>
                            A name for this service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            description
                        </td>
                        <td>
                            <a href="https://schema.org/Text">string</a>
                        </td>
                        <td>
                            A short description of the service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            esd_url
                        </td>
                        <td>
                            <a href="https://schema.org/URL">URL</a>
                        </td>
                        <td>
                            Link to the ESD standards Url.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            frequency
                        </td>
                        <td>
                            <a href="https://schema.org/Text">string</a>
                        </td>
                        <td>
                            How often it runs - "weekly" or "alternate weekly".
                        </td>
                    </tr>
                    <tr>
                        <td>
                            feature_types
                        </td>
                        <td>
                            <a href="/models/Waste/FeatureType">FeatureType</a>
                        </td>
                        <td>
                            The container types that are collected.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            schedule
                        </td>
                        <td>
                            <a href="http://schema.org/Schedule">Schedule</a>
                        </td>
                        <td>
                            The schedule for this service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            schedulePeriod
                        </td>
                        <td>
                            <a href="http://schema.org/Event">Event</a>
                        </td>
                        <td>
                            Dates when this scheduled service starts and ends.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            next_collections
                        </td>
                        <td>
                            <a href="/models/Waste/Task">Task</a>
                        </td>
                        <td>
                            List of dates of next collections.
                            <br />
                            <br />
                            If there is a replacement for an exceptDate entry it should be put into this list.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            last_collections
                        </td>
                        <td>
                            <a href="/models/Waste/Task">Task</a>
                        </td>
                        <td>
                            List of dates of previous collections.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            available_channel
                        </td>
                        <td>
                            <a href="http://schema.org/availableChannel">availableChannel</a>
                        </td>
                        <td>
                            A means of accessing the service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            provider
                        </td>
                        <td>
                            <a href="http://schema.org/provider">provider</a>
                        </td>
                        <td>
                            The council providing the service.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            service_area
                        </td>
                        <td>
                            <a href="http://schema.org/serviceArea">serviceArea</a>
                        </td>
                        <td>
                            The geographic area where the service is provided.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            service_operator
                        </td>
                        <td>
                            <a href="http://schema.org/serviceOperator">serviceOperator</a>
                        </td>
                        <td>
                            The operator of the service, if different to the provider.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Schema</h3>
<pre>
@Html.Raw(ViewBag.Json)
</pre>

<h3>Example</h3>
<pre>
@Html.Raw(ViewBag.JsonSample)
</pre>