<h3>All APIs</h3>
<p>
    This section lists the APIs that are being worked on and provide an implementation specific view.
</p>

<div class="row">
    <div class="col-12">
        <ul style="padding-left:0;list-style-type: none;">
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/api/Waste">Waste Services</a>
                <div style="padding-left:17px">
                    <small class="text-muted">Waste Collection APIs.</small>
                </div>
                <ul style="padding-left:25px;list-style-type: none;">
                    <li>
                        <span data-feather="settings" style="width:14px;height:auto;"></span> <a href="/api/Waste/Services">Bin Collection</a>
                        <div style="padding-left:17px">
                            <small class="text-muted">Bin collection API.</small>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/api/Events">Event API</a>
                <div style="padding-left:17px">
                    <small class="text-muted">API to create and subscribe to platform Events.</small>
                </div>
            </li>
        </ul>
    </div>
</div>