<h1>Waste - Feature Type</h1>
<p>
    An instance of a type of container. Defined <a href="https://communitiesuk.github.io/waste-service-standards/models/feature-type.html">here</a>.
</p>

<p>
    This is an instance of a type of container and derives from the abstract base type <a href="https://communitiesuk.github.io/waste-service-standards/models/feature-type.html">Feature Type</a>.
</p>