@{ViewData["Title"] = "Taxonomies";}
<h3>@ViewData["Title"]</h3>

<p class="lead">
    This is the datasets that are used as lookup values for the various services, models and events.
</p>
<div class="row">
    <div class="col-12">
        <ul style="padding-left:0;list-style-type: none;">
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/taxonomies/Waste">Waste Taxonomies</a>
                <div style="padding-left:17px">
                    <small class="text-muted">A set of taxnonomies related to bin collection and waste management.</small>
                </div>
            </li>
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/taxonomies/EventTypes">Event Types</a>
                <div style="padding-left:17px">
                    <small class="text-muted">A collection of the types of Events emitted across all services.</small>
                </div>
            </li>
        </ul>
    </div>
</div>