@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="inner cover">
    <br />
    <div><img src="/images/citybg_640.png" style="width:250px;height:auto;float:right" /></div>
    <h1>AppStreams</h1>    
    <h3>Services and Schema for Cities</h3>    
    <div style="float:none"></div>
    <p class="lead">
        AppStreams provide a definition of common Services and Models that are used in Cities across the world.
    </p>
    <p>
        The goal is to collaborarively create sets of reusable definitions that will improve integration, interoperability and allow
        people developing services for Citizens and Business to be able to focus on the problem rather than the underlying platform details.
    </p>
    <h4>Services and Models</h4>
    <div>
        <p>
            We have an increasing collection of common City Services that, where possible, use and integrate existing work around the world.
        </p>
        <p>
            <a href="/services" class="btn btn-lg btn-primary">View Services</a>
        </p>
        
        <p>
            The services above use a variation of data models to exchange information and define taxonomies of data that can be reused across Cities
            to improve interoperability and reuse of services.
        </p>
        <p>
            <a href="/models" class="btn btn-lg btn-info">View Models</a>
        </p>
    </div>
</main>
