@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
<p>Topics:</p>
<ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
</ul>
<h3>What data do we collect?</h3>
<p>appstreams.org collects the following data:</p>
<ul>
    <li>Cookies to allow personalisation of the web site</li>
</ul>
<h3>How do we collect your data?</h3>
<p>You directly provide appstreams.org with most of the data we collect. We collect data and process data when you:</p>
<ul>
    <li>Use or view our website via your browser’s cookies.</li>
</ul>
<h3>How will we use your data?</h3>
<p>appstreams.org collects your data so that we can:</p>
<ul>
    <li>Peronalise the web site</li>
</ul>
<h3>How do we store your data?</h3>
<p>appstreams.org does not store your data on any servers.</p>
<h3>What are your data protection rights?</h3>
<p>appstreams.org would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p><strong>The right to access</strong> – You have the right to request appstreams.org for copies of your personal data. We may charge you a small fee for this service.</p>
<p><strong>The right to rectification</strong> – You have the right to request that appstreams.org correct any information you believe is inaccurate. You also have the right to request appstreams.org to complete the information you believe is incomplete.</p>
<p><strong>The right to erasure</strong> – You have the right to request that appstreams.org erase your personal data, under certain conditions.</p>
<p><strong>The right to restrict processing</strong> – You have the right to request that appstreams.org restrict the processing of your personal data, under certain conditions.</p>
<p><strong>The right to object to processing</strong> – You have the right to object to appstreams.org’s processing of your personal data, under certain conditions.</p>
<p><strong>The right to data portability</strong> – You have the right to request that appstreams.org transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
<p>Or write to us: info AT appstreams DOT org</p>
<h3>Cookies</h3>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>
<p>For further information, visit allaboutcookies.org.</p>
<h3>How do we use cookies?</h3>
<p>appstreams.org uses cookies in a range of ways to improve your experience on our website, including:</p>
<ul>    
    <li>Understanding how you use our website</li>
</ul>
<h3>What types of cookies do we use?</h3>
<p>There are a number of different types of cookies, however, our website uses:</p>
<ul>
    <li>Functionality – appstreams.org uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    <li>Advertising – appstreams.org uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. appstreams.org sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
</ul>
<h3>How to manage cookies</h3>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
<h3>Privacy policies of other websites</h3>
<p>The appstreams.org website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
<h3>Changes to our privacy policy</h3>
<p>appstreams.org keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.</p>
<h3>How to contact us</h3>
<p>If you have any questions about appstreams.org’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
<p>Email us at: info AT appstreams DOT org</p>
<p>&nbsp;</p>