@{ViewData["Title"] = "Local Waste Service Standards";}
<h3>@ViewData["Title"]</h3>

<p>
    The Local Waste Service Standards project was created by the <a href="https://www.localdigitalcoalition.uk">The Local Digital Coalition</a> in the UK in 2016.
</p>
<p>
    The aim of this project was to "offers a core set of resources and operations for interacting with local council waste and recycling services".
</p>
<p>
    This project was used as a basis for the creation of the bin collection APIs on this site and although we use the fundamental data models from that project
    we have created an extended set of APIs for our purposes.
</p>
<p>
    You can view the API details <a href="/api/Waste/lwsp">here</a> and documentation about the service <a href="https://communitiesuk.github.io/waste-service-standards/apis/waste_services.html">here</a>.
</p>