<h3>Waste Services</h3>

<p class="lead">This defines the initial collection of services that we have worked on so far but more are being added in the coming months.</p>
<div class="row">
    <div class="col-12">
        <ul style="padding-left:0;list-style-type: none;">
            <li>
                <span data-feather="settings" style="width:14px;height:auto;"></span> <a href="/api/Waste/Services">Bin Collection</a>
                <div style="padding-left:17px">
                    <small class="text-muted">Bin Collection API.</small>
                </div>
            </li>
            <li>
                <span data-feather="settings" style="width:14px;height:auto;"></span> <a href="/api/Waste/lwsp">Local Waste Service Standards</a>
                <div style="padding-left:17px">
                    <small class="text-muted">Waste Collection API using the Local Waste Service Standards.</small>
                </div>
            </li>
        </ul>
    </div>
</div>