@{ViewData["Title"] = "Models - Address";}
<h3>@ViewData["Title"]</h3>
<p>
    An address format that can be country specific.
</p>
<div class="row">
    <div class="col-12">
        <p>
            The address can be the schema.org address or a more local specific address format. The current versions are listed below
            and can be used anywhere where an address type is used.
        </p>
        <h4><a href="http://schema.org/address">Schema.org Address</a></h4>
        <p>
            This is the standard Schema.org address format used in most cases.
        </p>
        <h4><a href="/models/BS7666Address">BS7666 Address format</a></h4>
        <p>
            This is a UK Address format based on the <a href="http://landregistry.data.gov.uk/def/common/BS7666Address">Land Registry BS7666 type</a>
            and contains properties aligned with that standard.
        </p>
    </div>
</div>