@{ViewData["Title"] = "Waste Models - Materials";}
<h3>@ViewData["Title"]</h3>
<p>
    Defines the types of material waste. Defined in the <a href="/taxonomies/Waste/Materials">Materials Taxonomy</a>.
</p>
<div class="row">
    <div class="col-12">
        <div class="datamodel">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property</th>
                        <th>Type</th>                            
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><tt>@@context</tt></td>
                        <td><a href="http://schema.org/URL">URL</a></td>
                        <td>http://appstreams.org/models/Waste</td>
                    </tr>
                    <tr>
                        <td><tt>@@type</tt></td>
                        <td><a href="http://schema.org/Text">string</a></td>
                        <td>Material</td>
                    </tr>
                    <tr>
                        <td><tt>@@id</tt></td>
                        <td><a href="http://schema.org/URL">URL</a></td>
                        <td>A unique identifier for this type of material. They are defined <a href="/taxonomies/Waste/Materials">here.</a></td>
                    </tr>
                    <tr>
                        <td><tt>name</tt></td>
                        <td><a href="https://schema.org/Text">Text</a></td>
                        <td>The name of the material.</td>
                    </tr>
                    <tr>
                        <td>color</td>
                        <td><a href="https://schema.org/color">Color</a></td>
                        <td>The matching <a href="https://partners.wrap.org.uk/material-stream-icons/">WRAP material stream</a> colour.</td>
                    </tr>
                    <tr>
                        <td>image</td>
                        <td><a href="https://schema.org/image">Image URL</a></td>
                        <td>The Url to an image representing the material.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Schema</h3>
<pre>
@Html.Raw(ViewBag.Json)
</pre>

<h3>Example</h3>
<pre>
@Html.Raw(ViewBag.JsonSample)
</pre>