@{ViewData["Title"] = "Waste - Container Types";}
<h3>@ViewData["Title"]</h3>

<p class="lead">
    The table below lists common names for typical waste containers.
</p>

<div class="row">
    <div class="col-8">
        <div>
            <table class="table">
                  <thead>
                    <tr id="LC1">
                      <td id="L1" data-line-number="1"></td>
                        <th>name</th>
                        <th>reference_name</th>
                        <th>machine_name</th>
                        <th>sizes</th>
                        <th>description</th>
                        <th>image</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr id="LC2">
                        <td id="L2" data-line-number="2"></td>
                          <td>box</td>
                          <td>Box</td>
                          <td>box</td>
                          <td>35L;60L</td>
                          <td>55-60L box typically for certain recycling streams.</td>
                          <td>wrap_box_red_rc13_60px.png</td>
                      </tr>
                      <tr id="LC3">
                        <td id="L3" data-line-number="3"></td>
                          <td>communal bin</td>
                          <td>Communal wheeled bin</td>
                          <td>communal_bin</td>
                          <td>240L;360L</td>
                          <td>Large bin with 4 wheels.</td>
                          <td></td>
                      </tr>
                      <tr id="LC4">
                        <td id="L4" data-line-number="4"></td>
                          <td>carrier bag</td>
                          <td>Carrier bag</td>
                          <td>carrier_bag</td>
                          <td></td>
                          <td>Usually provided by householders.</td>
                          <td></td>
                      </tr>
                      <tr id="LC5">
                        <td id="L5" data-line-number="5"></td>
                          <td>inner caddy</td>
                          <td>Inner caddy</td>
                          <td>inner_caddy</td>
                          <td></td>
                          <td>Insert that sits inside a larger bin.</td>
                          <td></td>
                      </tr>
                      <tr id="LC6">
                        <td id="L6" data-line-number="6"></td>
                          <td>kerbside caddy</td>
                          <td>Kerbside caddy (approx 60 litres)</td>
                          <td>caddy</td>
                          <td>60L</td>
                          <td>A larger caddy with a lockable handle for food waste.</td>
                          <td>wrap_outer_caddy_green-6ceab574.png</td>
                      </tr>
                      <tr id="LC7">
                        <td id="L7" data-line-number="7"></td>
                          <td>kitchen caddy</td>
                          <td>Kitchen caddy (approx. 7 litres)</td>
                          <td>caddy</td>
                          <td>7L</td>
                          <td>A small box with a handle typically for food waste.</td>
                          <td>wrap_kitchencaddy_brown_60px.png</td>
                      </tr>
                      <tr id="LC8">
                        <td id="L8" data-line-number="8"></td>
                          <td>sack</td>
                          <td>Non-reusable sack</td>
                          <td>sack</td>
                          <td></td>
                          <td>Loose disposable bag.</td>
                          <td>wrap_sack_clear_rc008_60px.png</td>
                      </tr>
                      <tr id="LC9">
                        <td id="L9" data-line-number="9"></td>
                          <td>reusable sack</td>
                          <td>Reusable sack</td>
                          <td>reusable_sack</td>
                          <td></td>
                          <td>Loose reusable sack.</td>
                          <td>wrap_sack_green_rc004_60px.png</td>
                      </tr>
                      <tr id="LC10">
                        <td id="L10" data-line-number="10"></td>
                          <td>triple box stack</td>
                          <td>Triple box stack</td>
                          <td>triple_box_stack</td>
                          <td></td>
                          <td>Three boxes with flaps stacked on a wheeled frame.</td>
                          <td></td>
                      </tr>
                      <tr id="LC11">
                        <td id="L11" data-line-number="11"></td>
                          <td>wheelie bin</td>
                          <td>Wheeled bin</td>
                          <td>wheelie_bin</td>
                          <td>140L;180L;240L</td>
                          <td>A tall plastic bin with 2 wheels.</td>
                          <td>wrap_wheeliebin_grey_rc021_60px.png</td>
                      </tr>
                      <tr id="LC12">
                        <td id="L12" data-line-number="12"></td>
                          <td>tub</td>
                          <td>Tub</td>
                          <td>tub</td>
                          <td></td>
                          <td>A plastic tub for clinical waste, typically yellow.</td>
                          <td></td>
                      </tr>
                  </tbody>
                </table>
        </div>

        <h3>Notes</h3>
        <ul>
            <li>The original source of this data is <a href="https://communitiesuk.github.io/waste-service-standards/taxonomies/container-types.html">Waste Service Standards</a></li>
            <li>The core source is <a href="http://www.wrap.org.uk/">The Waste and Resources Action Programme.</a></li>
        </ul>
    </div>
</div>