@{ViewData["Title"] = "Waste Events";}
<h3>@ViewData["Title"]</h3>

<p class="lead">
    This is the datasets that are used as looup values for the various Waste services, models and events.
</p>

<div class="row">
    <div class="col-8">
        <ul style="padding-left:0;list-style-type: none;">
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/taxonomies/Waste/ContainerTypes">Container Types</a>
                <div style="padding-left:17px">
                    <small class="text-muted">A list of all the Waste Container Types.</small>
                </div>
            </li>
            <li>
                <span data-feather="file-text" style="width:14px;height:auto;"></span> <a href="/taxonomies/Waste/Materials">Materials</a>
                <div style="padding-left:17px">
                    <small class="text-muted">A list of waste material categories.</small>
                </div>
            </li>
        </ul>
    </div>
</div>