<div class="row" id="services-getEvents">
    <div class="col-12">
        <div id="services">
            <div class="api-service">
                <h4>Gets a list of events for the specified context</h4>
                <p>
                    This will return a list of Waste Events optionally filtered by the specified context.
                </p>
                <div class="api-svc">
                    <span class="api-rest get">get</span>
                    <span>/services/events?{eventTypesId}&{location}&{paging}</span>
                </div>
                <p><strong>Query parameters</strong></p>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>                            
                            <th>Required</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><tt>eventTypesId</tt></td>
                            <td>string</td>
                            <td>false</td>
                            <td></td>
                            <td>A comma separated list of <a href="/models/EventType">Event Types</a> to filter by.</td>
                        </tr>
                        <tr>
                            <td><tt>location</tt></td>
                            <td><a href="/services/parameters">Location</a></td>
                            <td>true</td>
                            <td></td>
                            <td>See the <a href="/services/parameters">Common Location Parameter</a></td>
                        </tr>
                        <tr>
                            <td><tt>paging</tt></td>
                            <td><a href="/services/parameters">Paging</a></td>
                            <td>false</td>
                            <td></td>
                            <td>See the <a href="/services/parameters">Common Paging Parameter</a></td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-primary"><strong>Returns</strong></p>
                <p>
                    Returns an array of <a href="/models/Event">Events</a>.
                </p>

                <p class="text-info"><strong>Example Requests</strong></p>
                <p>Query:</p>
                <div class="jumbotron" style="padding:0;">
                    <pre>http://appstreams.org/services/events?eventTypesId=waste_planned_collection</pre>
                </div>

                <p class="text-success"><strong>Example Responses</strong></p>
                <p>HTTP code: 200</p>
                <div class="jumbotron" style="padding:0;"><pre>@org.appstreams.Utility.ReadFromFile("samples/getEvents.json")</pre></div>
            </div>
        </div>
    </div>
</div>