<div class="row" id="services-getEvent">
    <div class="col-12">
        <div id="services">
            <div class="api-service">
                <h4>Gets the specified event</h4>
                <p>
                    This returns the detail of the specified event.
                </p>
                <div class="api-svc">
                    <span class="api-rest get">get</span>
                    <span>/services/events/{eventId}</span>
                </div>
                <p><strong>Query parameters</strong></p>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>                            
                            <th>Required</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><tt>eventId</tt></td>
                            <td>string</td>
                            <td>true</td>
                            <td></td>
                            <td>The id for the event.</td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-primary"><strong>Returns</strong></p>
                <p>
                    Returns an <a href="/models/Event">Event</a>.
                </p>

                <p class="text-info"><strong>Example Requests</strong></p>
                <p>Query:</p>
                <div class="jumbotron" style="padding:0;">
                    <pre>http://appstreams.org/services/events/01afeeb8-aefd-4f2b-8cb0-b3186870ad14</pre>
                </div>

                <p class="text-success"><strong>Example Responses</strong></p>
                <p>HTTP code: 200</p>
                <div class="jumbotron" style="padding:0;"><pre>@org.appstreams.Utility.ReadFromFile("samples/getEvent.json")</pre></div>
            </div>
        </div>
    </div>
</div>