@{ViewData["Title"] = "Waste Events";}
<h3>@ViewData["Title"]</h3>

<p class="lead">
    These are events that can be sent from Waste Services.
</p>
<p>
    The <a href="/models/Filter">Filter</a> property of an <a href="/models/Event">Event</a> should be set with the on of the following event definitions.
</p>
<div class="row">
    <div class="col-12">
        <ul style="padding-left:0;list-style-type: none;">
            <li>
                <span data-feather="settings" style="width:14px;height:auto;"></span> <a href="/models/Waste/Event">Waste Event Model</a>
                <div style="padding-left:17px">
                    <small class="text-muted">Bin collection and waste management events.</small>
                </div>
            </li>
        </ul>
    </div>
</div>