@{ViewData["Title"] = "Models - Event";}
<h3>@ViewData["Title"]</h3>
<p>
   This represents an event. This may be an something that may happen in the future or has happened in the past, independent of consumers and who may want to know.
</p>
<p>
    It will contain a <a href="/models/Filter">Filter</a> that determines what the Event context is. This Filter will be based on the filter set in a user <a href="/models/Subscription">Subscription</a>.
</p>
<div class="row">
    <div class="col-12">
        <div class="datamodel">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property</th>
                        <th>Type</th>                            
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                      <tr>
                        <td><tt>@@context</tt></td>
                        <td><a href="http://schema.org/URL">URL</a></td>
                        <td>http://appstreams.org/models</td>
                    </tr>
                    <tr>
                        <td><tt>@@type</tt></td>
                        <td><a href="http://schema.org/Text">string</a></td>
                        <td>Event</td>
                    </tr>
                    <tr>
                        <td><tt>id</tt></td>
                        <td>string</td>
                        <td>A unique Id for this event.</td>
                    </tr>
                    <tr>
                        <td><tt>filter</tt></td>
                        <td><a href="Filter">Filter</a></td>
                        <td>A filter instance as context for this event.</td>
                    </tr>
                    <tr>
                        <td><tt>regularity</tt></td>
                        <td><a href="/models/Regularity">Regularity</a></td>
                        <td>How often to run this event.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Schema</h3>
<pre>
@Html.Raw(ViewBag.Json)
</pre>

<h3>Example</h3>
<pre>
@Html.Raw(ViewBag.JsonSample)
</pre>